@media only screen and (min-width: 480px) {
html {
  font-size: 18px;
}

header nav a {
  line-height: 80px;
}

.content .title .border {
  padding: 70px 0;
}

.content .current-place {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

footer .page-top img {
  height: 40px;
}

footer li {
  font-size: 0.8rem;
}
}
