.content .title {
  background-image: url("../images/about.jpg");
  background-size: cover;
  background-position: center;
}

section {
  padding: 30px 2% 40px;
}

section h2 {
  margin-top: 0;
  text-align: center;
  font-size: 1.8rem;
}

section h2::after {
  display: block;
  content: "";
  background: #303030;
  width: 40px;
  height: 4px;
  margin: 15px auto;
}

section p {
  margin: 0 10%;
}

section.vision h3 {
  text-align: center;
  font-size: 1.4rem;
}

section.vision h3 span {
  color: #fbb03b;
}

section.project {
  color: #f4f4f4;
  background-color: #303030;
}

section.project h2::after {
  background: #f4f4f4;
}

section.member .profile {
  float: left;
  width: 50%;
  padding: 10px 0;
  text-align: center;
}

section.member .profile .icon {
  background-color: #303030;
  width: 140px;
  height: 140px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
}

section.member .profile h3 {
  font-size: 1rem;
  margin: 4px 0;
}

section.member .profile h4 {
  font-size: 0.5rem;
  line-height: 1rem;
  color: #a3a3a3;
  margin: 4px 0 0;
}

@media only screen and (min-width: 480px) {
section {
  padding: 40px 3% 60px;
}

section h2 {
  font-size: 2rem;
}

section p {
  margin: 0 13%;
}

section.vision h3 {
  font-size: 1.6rem;
}

section.member {
  padding: 40px 6% 60px;
}

section.member .profile .icon {
  width: 180px;
  height: 180px;
}
}

@media only screen and (min-width: 768px) {
section {
  padding: 40px 3% 80px;
}

section h2 {
  font-size: 2.2rem;
}

section p {
  width: 500px;
  margin: 0 auto;
}

section.vision h3 {
  font-size: 2.4rem;
}

section.member {
  padding: 40px 10% 60px;
}

section.member .profile {
  width: 33.33%;
}

section.member .profile h4 {
  font-size: 0.65rem;
}
}

@media only screen and (min-width: 1024px) {
section h2 {
  font-size: 2.4rem;
}

section.vision h3 {
  font-size: 3rem;
}

section p {
  width: 700px;
  margin: 0 auto;
}

section.member {
  padding: 40px 0 60px;
  width: 900px;
  margin: 0 auto;
}

section.member .profile .icon {
  width: 240px;
  height: 240px;
}
}
