html, body {
  background-color: #0f0f0f;
  color: #ffffff;
  font-family: 'Helvetica Neue', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', sans-serif;
  font-weight: 400;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

section {
  overflow: hidden;
}

/**
 * cover section
 */

.cover {
  height: 100vh;
  background-image: url(../images/aktiva-gray.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.cover .slanting-square {
  width: 80vw;
  max-width: 800px;
  height: 80vw;
  max-height: 800px;
  border: 2px solid #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(45deg);
}

.cover .title {
  height: 100vh;
  width: 100vw;
	display: table-cell;
	vertical-align: middle;
  text-align: center;
}

.cover .title img {
  width: 30%;
  max-width: 300px;
}

.cover .title p {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.cover .scroll-down {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 12px;
  margin: 0 auto;
  width: 30px;
  height: 30px;
}

.cover .scroll-down img {
  width: 100%;
}

/**
 * content section
 */

.content {
  background-size: cover;
  background-position: center;
}

.content .text {
  padding: 0 5% 80px;
}

.content h2 {
  text-align: center;
  font-weight: normal;
  margin: 0;
  padding: 50px 0;
}

.content h2 span {
  position: relative;
}

.content h2 span::before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  bottom: 0;
  margin: auto -10px;
  width: 100vw;
  height: 2px;
  background-color: #ffffff;
}

.content p {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

/**
 * aktiva section
 */

.aktiva {
  background-image: url(../images/aktiva-semitransparent.png);
}

.aktiva h2 span::before {
  left: -100vw;
}

.aktiva .aktiva-image {
  display: none;
}

/**
* concept section (common)
*/

.concept {
  background-image: url(../images/concept.jpg);
}

.concept h2 span::before {
  right: -100vw;
}

/**
 * main-functions section
 */

.main-functions .text {
  padding-bottom: 60px;
}

.main-functions .function {
  text-align: center;
  position: relative;
  padding: 50px 0;
}

.main-functions .function::after {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 210px;
  width: 210px;
  border: 2px solid #ffffff;
  transform: rotate(45deg);
}

.main-functions .function img {
  height: 60px;
}

.main-functions .function h3 {
  margin: 15px 0 5px;
  font-size: 1rem;
}

.main-functions .function p {
  display: table-cell;
	vertical-align: middle;
  width: 100vw;
  font-size: 0.6rem;
  line-height: 1.2rem;
  height: 3.6rem;
  padding: 0;
}

/**
 * movie
 */

.movie {
  background-image: url(../images/video.jpg);
  padding-bottom: 60px;
}

.movie .youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.movie .youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/**
 * footer
 */

footer {
  text-align: center;
}

footer .footer-logo {
  padding: 30px 0;
}

footer .footer-logo img {
  width: 100px;
}

footer .copyright {
  font-size: 0.8rem;
  color: #a3a3a3;
  padding: 0 0 30px;
}

@media only screen and (min-width: 1024px) {
html, body {
  font-size: 20px;
}

.cover .title p {
  font-size: 1rem;
}

.content {
  height: 100vh;
  overflow: hidden;
}

.content h2 {
  font-size: 2.5rem;
}

.content p {
  line-height: 2rem;
}

.aktiva {
  background-image: none;
  position: relative;
}

.aktiva .aktiva-image {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40%;
  height: 90vh;
  margin: auto;
  transform: translateX(-120%);
}

.aktiva h2, .concept h2 {
  text-align: left;
}

.aktiva .text, .concept .text {
  padding: 150px 10% 80px;
  max-width: 650px;
}

.aktiva .text {
  padding-left: 40%;
}

.concept .text {
  padding-right: 40%;
}

.main-functions {
  position: relative;
}

.main-functions .functions {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1200px;
  margin: auto;
  position: absolute;
}

.main-functions .function {
  width: 33.33%;
}

.main-functions .function p {
  font-size: 0.8rem;
}

.main-functions .function h3 {
  font-size: 1.2rem;
  margin: 20px 0 15px;
}

.main-functions .function::after {
  height: 300px;
  width: 300px;
}

.movie {
  position: relative;
}

.movie .player {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  width: 80%;
  max-width: 1024px;
  margin: auto;
  position: absolute;
  z-index: 100;
}

.movie::before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto 0;
  width: 100vw;
  height: 2px;
  background-color: #ffffff;
  z-index: 10;
}
}
