html, body {
  background-color: #0f0f0f;
  color: #ffffff;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

/**
 * cover section
 */

.cover {
  height: 100vh;
  background-image: url(../images/aktiva-gray.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.cover .slanting-square {
  width: 100vw;
  height: 100vw;
  border: 2px solid #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(45deg);
}

.cover .title {
  height: 100vh;
	display: table-cell;
	vertical-align: middle;
  text-align: center;
}

.cover .title img {
  width: 30%;
}

.cover .title p {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.cover .scroll-down {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 12px;
  margin: 0 auto;
  width: 30px;
  height: 30px;
}

.cover .scroll-down img {
  width: 100%;
}

/**
 * content section
 */

.content h2 {
  text-align: center;
  font-weight: normal;
  margin: 0;
  padding: 50px 0;
}

.content h2 span {
  position: relative;
}

.content h2 span::before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  bottom: 0;
  margin: auto -10px;
  width: 100vw;
  height: 2px;
  background-color: #ffffff;
}

.content p {
  margin: 0;
  padding: 0 5% 80px;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

/**
 * aktiva section
 */

.aktiva {
  background-image: url(../images/aktiva.jpg);
  background-size: cover;
  background-position: center;
}

.aktiva h2 span::before {
  left: -100vw;
}

/**
* concept section
*/

.concept {
  background-image: url(../images/concept.jpg);
  background-size: cover;
  background-position: center;
}

.concept h2 span::before {
  right: -100vw;
}
