.contact .title {
  background-image: url("../images/contact.jpg");
  background-size: cover;
  background-position: center;
}

.contact p {
  margin: 20px 10%;
  font-size: 0.9rem;
  line-height: 1.5rem;
  text-align: center;
}

.contact p span {
  white-space: nowrap;
  display: inline-block;
}

.contact form {
  padding: 5px 10%;
}

.contact form div {
  margin: 10px 0;
  position: relative;
}

.contact label {
  display: block;
  line-height: 2rem;
}

.contact .notes {
  color: #a3a3a3;
}

.contact p.notes {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.contact input {
  display: block;
  width: 94%;
  border: none;
  padding: 7px 3%;
  background-color: #ffffff;
}

.contact textarea {
  display: block;
  border: none;
  width: 94%;
  padding: 7px 3%;
}

.submit {
  text-align: center;
}

.submit button {
  display: inline-block;
  color: #ffffff;
  line-height: 1.2rem;
  background-color: #303030;
  padding: 15px 15px 15px 30px;
  margin: 20px auto 40px;
}

.submit button:hover {
  background-color: #fbb03b;
}

.submit button::after {
  content: '';
  display: inline-block;
  background-image: url(../images/right-arrow.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.2rem;
  width: 1.2rem;
  vertical-align: bottom;
  margin: 0 0 0 15px;
}

@media only screen and (min-width: 480px) {
.contact input {
  width: 96%;
  padding: 7px 2%;
}

.contact textarea {
  width: 96%;
  padding: 7px 2%;
}
}

@media only screen and (min-width: 768px) {
.contact label {
  display: inline-block;
  width: 30%;
}

.contact input {
  display: inline-block;
  width: 68%;
  border: none;
  padding: 7px 1%;
}

.contact form div {
  margin: 25px 0;
}

.submit button {
  padding: 15px 20px 15px 40px;
}
}

@media only screen and (min-width: 1024px) {
.contact form {
  padding: 5px 0;
}
.contact form div {
  width: 800px;
  margin: 25px auto;
}

.contact label {
  width: 200px;
}

.contact input {
  width: 580px;
  padding: 7px 10px;
}

.contact textarea {
  width: 780px;
  padding: 7px 10px;
}
}
