.news .title {
  background-image: url("../images/news.jpg");
  background-size: cover;
  background-position: center;
}

.news article {
  padding: 10px 3% 30px;
}

.news article a {
  display: block;
  background-color: #ffffff;
  height: 100%;
  color: #353535;
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: box-shadow 0.3s cubic-bezier(0.25,0.8,0.25,1);
  position: relative;
}

.news article a:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.1);
}

.news article a:hover .news-read-more {
  top: 0;
}

.news article .photo {
  height: 220px;
  background-color: #353535;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.news article .photo .border {
  border: 2px solid #ffffff;
}

.news article .news-read-more {
  color: #ffffff;
  display: block;
  text-align: center;
  line-height: 176px;
  font-size: 2.2rem;
  font-weight: bold;
  padding: 20px;
  background-color: rgba(251,176,59,0.7);
  position: relative;
  top: 100%;
  transition: top 0.5s cubic-bezier(0.25,0.8,0.25,1) 0s;
}

.news article h3 {
  margin: 10px 12px 40px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.news article time {
  position: absolute;
  bottom: 10px;
  left: 0;
  margin: 0 12px;
  font-size: 0.8rem;
  color: #a3a3a3;
}

@media only screen and (min-width: 480px) {
.news article {
  padding: 10px 6% 30px;
}

.news article .photo {
  height: 260px;
}

.news article a .news-read-more {
  line-height: 216px;
}
}

@media only screen and (min-width: 768px) {
.news .articles {
  width: 96%;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
}

.news article {
  width: 46%;
  padding: 10px 2% 30px;
}

.news article .photo {
  height: 240px;
}

.news article a .news-read-more {
  line-height: 196px;
}
}
