/**
 * 共通
 */

body {
  background-color: #f4f4f4;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * ヘッダ
 */

header {
  position: fixed;
  width: 100%;
}

header h1 {
  background-color: #ffffff;
  padding: 10px 0;
  margin: 0;
}

header a {
  width: 100%;
}

header h1 .title {
  display: block;
  margin: 0 auto;
  height: 32px;
}

/**
 * メニューボタン
 */

header nav .menu-button {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 52px;
  height: 52px;
}

header nav .menu-button-icon{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 2px;
  margin: -1px 0 0 -15px;
  background: #303030;
  transition: .2s;
}

header nav .menu-button-icon:before, .menu-button-icon:after{
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 2px;
  background: #303030;
  transition: .3s;
}

header nav .menu-button-icon:before{
  margin-top: -11px;
}

header nav .menu-button-icon:after{
  margin-top: 9px;
}

nav.open .menu-button-icon{
  background: transparent;
}

nav.open .menu-button-icon:before, nav.open .menu-button-icon:after{
  margin-top: 0;
}

nav.open .menu-button-icon:before{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

nav.open .menu-button-icon:after{
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/**
 * メニューリスト
 */

header nav ul {
  display: none;
}

nav.open ul {
  display: block;
  background-color: rgba(251,176,59,0.9);
  position: fixed;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  overflow: scroll;
}

header nav a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 70px;
}

header nav a:hover{
  opacity: 0.7;
}

header nav a img {
  height: 2rem;
  vertical-align: middle;
}

/**
 * 本体
 */

.content {
  padding-top: 52px;
}

.content .title {
  background-color: #353535;
  color: #ffffff;
  text-align: center;
  padding: 16px;
}

.content .title .border {
  padding: 50px 0;
  border: solid #ffffff 2px;
}

.content .title h1 {
  margin: 0;
  font-size: 1.8rem;
}

.content .title h2 {
  margin: 5px 0 0;
  font-size: 0.8rem;
}

/**
 * フッター
 */

footer {
  background-color: #353535;
  color: #ffffff;
  overflow: hidden;
  text-align: center;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer .page-top img {
  margin: 20px 0 10px;
  height: 30px;
}

footer a:hover {
  color: #fbb03b;
}

footer ul {
  position: relative;
  float: left;
  left: 50%;
  padding: 15px 0;
}

footer li {
  float: left;
  font-size: 0.6rem;
  position: relative;
  left: -50%;
  padding: 0 12px;
}

footer .site-map li:not(:last-child) {
  border-right: solid #ffffff 1px;
}

footer .sns li img {
  height: 32px;
}

footer .copyright {
  font-size: 0.8rem;
  color: #f4f4f4;
  padding: 10px 0 30px;
}
